name: CI
on:   [push, pull_request]
jobs:
    builds:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: run tests
              run: |
                   sudo apt-get update
                   sudo apt-get install -qq make llvm-dev
                   make
                   bash ./test.sh
